/* Footer.css */

.footer {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  /* width: 100%; */
  justify-content: space-evenly;
  align-items: center;
}
.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 50px; /* Adjust the logo size as needed */
  height: 50px;
  margin-right: 10px; /* Add some spacing between the logo and text */
}

.footer-logo-text {
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: bold;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.link {
  color: #fff; /* Link color */
  text-decoration: none;
  margin: 5px 0; /* Add spacing between links */
  font-size: 1rem; /* Adjust the font size as needed */
}

.link:hover {
  text-decoration: underline; /* Underline on hover */
}

.footer-text {
  /* text-align: right; */
  font-size: 0.8rem; /* Adjust the font size as needed */
  color: #fff;
}
