/* Home.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 20px;
  margin-top: 20px;
}

.room-card,
.apartment-card {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.room-card:hover,
.apartment-card:hover {
  transform: scale(1.05);
}

.room-image,
.apartment-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.room-title,
.apartment-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.room-description,
.apartment-description {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

/* Add more specific styling for room and apartment cards as needed */
