/* Navbar.css */

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.center-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #42a5f5;
  border-color: rgb(11, 195, 140); /* Change color on hover */
}

.right-menu {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 15px;
  transition: color 0.3s ease-in-out;
}

.logout-button:hover {
  color: #42a5f5; /* Change color on hover */
}

.logo:hover {
  color: #42a5f5;
}
